---
import { getCollection } from 'astro:content';
import Base from '#layouts/Base.astro';
import PersonCard from '#components/PersonCard.astro';

const peopleCurrent = await getCollection('people', (person) => person.data.type === 'member');
const peopleFormer = await getCollection('people', (person) => person.data.type === 'former');

// Sort by id: mairieli first, then by name alphabetically
const order = ['mairieli'];
[peopleCurrent, peopleFormer].forEach((people) => people.sort((a, b) => {
    const indexA = order.indexOf(a.id) ?? order.length;
    const indexB = order.indexOf(b.id) ?? order.length;
    if (indexA !== indexB) { return indexB - indexA; }

    return a.data.name.localeCompare(b.data.name);
}));
---
<Base title="People">
    <section>
        <h2 class="heading-2">Current members</h2>
        <div class="xs:grid-cols-2 grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-3 md:grid-cols-4">
            {
                peopleCurrent.map((person) => (
                    <PersonCard person={person} />
                ))
            }
        </div>
    </section>

    <section>
        <h2 class="heading-2">Former members</h2>
        <div class="xs:grid-cols-2 grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-3 md:grid-cols-4">
            {
                peopleFormer.map((person) => (
                    <PersonCard person={person} />
                ))
            }
        </div>
    </section>
</Base>
