---
import PersonCard from '#components/PersonCard.astro';
import Base from '#layouts/Base.astro';
import {
    getEntries,
    getCollection,
    render,
} from 'astro:content';

export async function getStaticPaths() {
    const publications = await getCollection('publications');
    return publications.map((publication) => ({
        params: { id: publication.id },
        props: { publication },
    }));
}

const { publication } = Astro.props;
const { Content } = await render(publication);
const people = await getEntries(publication.data.people ?? []);
---
<Base
    title={publication.data.title}
    breadcrumbs={[{ url: '/publications', name: 'Publications' }]}
>
    <Fragment slot="sidebar">
        <aside class="card bg-base-200 shadow-sm">
            <div class="card-body flex shrink-0 flex-col justify-start gap-3">
                <span class="font-lg font-medium">We can also put an image here, awards, etc</span>
                <span class="font-lg font-medium">{publication.data.venue}</span>
                <span class="font-lg font-medium">{publication.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long' })}</span>
            </div>
        </aside>
    </Fragment>

    <p class="mb-3 text-current/50 italic">{publication.data.authors}</p>

    <div class="prose">
        <Content />
    </div>

    <section>
        <h2 class="heading-2">People</h2>
        <div class="xs:grid-cols-4 grid grid-cols-3 justify-items-center gap-3 lg:grid-cols-5">
            {
                people.map((person) => (
                    <PersonCard person={person} size="sm"/>
                ))
            }
        </div>
    </section>
</Base>
