---

---
<div class="relative top-[-1px] h-[500px] w-full overflow-hidden">
    <svg
        preserveAspectRatio="none"
        viewBox="0 0 1440 500"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute h-full w-full max-w-none min-w-[1500px] shadow-2xl"
    >
        <path
            id="bottom"
            fill="var(--color-primary)"
            d="m 0,0 v 500 c 7.7562922,-0.17318 15.513239,-0.29289 23.269531,-0.91211 94.448509,-7.54026 188.897299,-22.53071 283.345699,-42.17187 188.89682,-39.76882 377.7946,-99.36197 566.69141,-119.18555 188.89696,-20.31006 377.79576,0.36738 472.24416,9.85351 L 1440,357.55469 V 0 Z"
        />
        <path
            id="top"
            fill="var(--color-accent)"
            d="m 0,0 v 338.18359 c 98.410247,0 198.93392,62.24021 298.75,67.375 98.41025,5.75719 198.22516,-47.1477 298.74414,-77.80078 98.41027,-31.58672 197.17738,-40.92268 295.23633,0 101.92486,41.54504 199.62913,134.90358 298.74223,160.88867 81.96,21.1231 165.1447,-3.27646 248.5273,-18.35937 V 244.82227 0 Z"
        />
    </svg>
    <div class="text-primary-content relative mx-auto h-4/5 max-w-5xl px-4">
        <slot/>
    </div>
</div>
