---
import PersonCard from '#components/PersonCard.astro';
import ProjectImage from '#components/ProjectImage.astro';
import PublicationList from '#components/PublicationList.astro';
import Base from '#layouts/Base.astro';
import {
    getEntries,
    getCollection,
    render,
} from 'astro:content';

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
const people = await getEntries(project.data.people ?? []);
const publications = await getCollection('publications', (publication) => publication.data.project?.id === project.id);
---
<Base
    title={project.data.title}
    breadcrumbs={[{ url: '/projects', name: 'Projects' }]}
>
    <div class="prose">
        <Content />
    </div>

    <Fragment slot="sidebar-start">
        <ProjectImage {project} size={300} responsive class="max-w-[300px] rounded mx-auto"/>
    </Fragment>

    <section slot="sidebar-end">
        <h2 class="heading-2 mt-0">People</h2>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-2">
            {
                people.map((person) => (
                    <PersonCard person={person} size="sm"/>
                ))
            }
        </div>
    </section>

    <section slot="extra">
        <h2 class="heading-2">Publications</h2>
        <PublicationList publications={publications}/>
    </section>
</Base>
