---
import Base, { type Props as BaseProps } from '#layouts/Base.astro';

type Props = BaseProps;
const { props } = Astro;
---
<Base {...props}>
    <main class="prose">
        <slot />
    </main>
</Base>
